
@{
    ViewData["Title"] = "Изменить пароль | Персональные данные";
}

<h1>Персональные данные</h1>

<h4>Изменить пароль</h4>
<hr />

<partial name="../Shared/_StatusMessages.cshtml" />
<div class="row">
    <form class="col-sm-5" method="post">
        <div class="form-group">
            <label>Текущий пароль</label>
            <input type="password" class="form-control" name="OldPassword" />
        </div>
        <div class="form-group">
            <label>Новый пароль</label>
            <input type="text" class="form-control" name="NewPassword" />
        </div>
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </form>
</div>

