@model TrainingDivisionKedis.Core.Models.UmkFile

@{
    ViewData["Title"] = "Удаление | Учебно-методический комплекс";
}

<h1>Учебно-методический комплекс</h1>

<h3>Вы действительно хотите удалить файл?</h3>
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Наименование
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Файл
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
    </dl>
    
    <form asp-action="ConfirmDelete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Details" asp-route-subjectId="@Model.SubjectId" asp-route-termId="@Model.TermId">Назад к списку</a>
    </form>
</div>
